/*=================== Section 1 Zone ==================*/
.content-section1 {
    height: 100%;              
    width: 100%; 
    margin-top: 41px; 
    display: flex;  
    flex-direction: column;
    align-items: center; 
}
   
.content-area-section1 {
    width: 80%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.description-box-section1 {
   height: 50%;
   width: 50%;
}

.description-section1 {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style:normal;
    font-size: 22px;
    line-height: 1.2;
    margin-top: 25px;
    margin-bottom: 1em;
    margin-left: 2px;
    padding-right: 30%;
}

.readyornot-logo img{
    position: relative;
    left: -25px;
}





.button-content-section1 {
    display: flex;
    gap: 23px;
    margin-top: 30px;
}

.discover {
    padding: 8px 40px 6px;
    border: 2px solid #cd3737;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    font-family: "rajdhaniBold", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.play-now {
    padding: 8px 40px 8px;
    font-size: 1.4em;
    color: white;
    background-color: #cd3737;
    text-decoration: none;
    font-family: "rajdhaniBold", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*=================== Section 2  Zone ==================*/

.content-section2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-area-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73.5%;
}

.section2-title {
    font-size: 50px;
    margin-top: 1em;
    line-height: 0.8;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1em;
}

.triple-content {
    display: flex;
    justify-content: center;
    height: 59%;
    width: 100%;
}


.box-in-section2 {
    width: 100%;
    height: 96%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border: 0.1px solid white;
}


#special-section2-case {
    height: 100%;
    cursor: url('/Asset/Image/Icon/cursor-crosshair.svg'), auto;
}

.image-section2 {
    height: 53%;
}

.text-section2 {
    background-color: #191616;
    height: 50%;
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.section2-text-title {

  font-size: 1.25em;
  line-height: 1.2;
  font-family: 'barlowbold', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.section2-text-body {
 
 font-size: 15px;
 line-height: 1.2;
 font-family: 'barlow', sans-serif;
 font-weight: 400;
 font-style: normal;
 color: white;
}

.section2-text-readmore {
 
 font-size: 15px;
 margin-top: 5px;
 font-family: sans-serif;
 font-weight: 500;
 font-style: normal;
 text-transform: uppercase;
}


.button-content-section2 {
    margin-top: 2em;
    padding: 11px,40px,9px; 
}

.more-news {
    width: 270px;
    padding: 11px 40px 9px;
    margin-top: 10px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
/*=================== Section 3 Zone ==================*/

.content-section3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.8);
}

.section3-area {
    width: 70%;
    height: 80%;
    display: flex;
}

.image-section3 {
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.readyornot-shirt {
    height: 100%;
    width: 100%;
}

.section3-text {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-title {
  font-size: 50px;
  margin: 0;
  line-height: 0.8;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.section3-description {
    font-family: "barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    font-size: 1.1em;
    margin-top: 30.6px;
    margin-bottom: 60.6px;
}

.shopmerch {
 text-decoration: none;
 width: 270px;
 padding: 8px 40px 8px;
 text-transform: uppercase;
 font-size: 1.4em;
 border: 2px solid;
 font-family: "rajdhaniMedium", sans-serif;
 font-style: normal;
 display: flex;
 justify-content: center;

}
/*=================== Section 4 Zone ==================*/


.section4 {
  position: relative;
  top: -150px; /* ยกขึ้นไปซ้อนระหว่าง section */
  left: 50%;
  transform: translateX(-50%);
  width: 72%;
  height: 85%;
  display: flex;
  justify-content: center;
  z-index: 994;
  display: flex;
  flex-direction: column;
}

.content-careers {
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.careers-area {
    width: 81%;
    height: 60%;
    display: flex;
}

.text-careers {
    height: 100%;
    width: 64%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.careers-title {
    font-size: 50px;
    margin: 0;
    line-height: 0.8;
    font-family: "rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.careers-description {
    font-family: "barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 17.6px;
    margin-bottom: 17.6px;
}
.careers-button {
    height: 100%;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.findoutmore {
    padding: 11px 40px 9px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    border: 2px solid #fff;
    line-height: 1;
    text-align: center;
    font-family: "rajdhaniMedium", sans-serif;
    font-style: normal;
    margin-bottom: 38px;
}
/*=================== Section 5 Zone ==================*/

.section5 {
    height: 60%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    
}

.void-logo-infomation {
    height: 100%;
    width: 50%;
}

.void-logo-image {
    width: 40%;
    display: block;
    float: left;
    margin: 1.% 0 1.5% 1.5%
}

.infomation-contact {
    height: 100%;
    width: 50%;
}

.infomation-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    font-family: "rajdhaniMedium", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    width: 168px;
    height: 53px;
    font-size: 22px;
    line-height: 1.5;
}

.middle {
    padding-left: 50px;

}


.contact a {
    font-size: 22px;
    text-decoration: none;
    line-height: 1.1;
}



.contact-image {
    width: 65%;
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0%;
}

.contact-image div {
    margin-right: 28px;
}

.copyright {
    margin-bottom: -10%;
    width: 100%;
    height: 30%;
    font-size: 1em;
    text-align: center;
    font-family: "barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

.copyright p a {
    text-decoration: none;
}

/*==================== Hover Zone ====================*/

.discover:hover {
    background-color: #cd3737;
    transition: background-color 0.4s ease-out;
}

.play-now:hover {
    background-color: white;
    color: #cd3737;
    transition: 0.4s ease-out;
}

.box-in-section2:hover .image-section2,
.box-in-section2:hover .section2-text-readmore {
    filter: brightness(80%);
    color: rgb(254, 248, 76);
    transition: 0.4s ease-out;
}

.more-news:hover {
    background-color: white;
    color: black;
    transition:  0.4s ease-out;
}

.shopmerch:hover {
    background-color: white;
    color: black;
    transition: 0.4s ease-out;
}

.findoutmore:hover {
    background-color: white;
    color: black;
    transition: background-color 0.4s ease-out;
}

.contact a:hover {
    color: #cd3737;
    transition: 0.4s ease-out;
    cursor: url('/Asset/Image/Icon/cursor-crosshair.svg'), auto;
}
     
.copyright a:hover {
    color:#cd3737;
    transition: 0.4s ease-out;
} 


/*==================== Responesive Zone ====================*/

